@page
@model PokemonTCGApp.Pages.PTCGS.BringYourPartnersModel
@{
    Layout = "_Layout";
}
<style>
    .height800px{
        height:800px;
    }
    .height560px{
        height:560px;
    }
    .bgpink{
        background-color:pink;
    }
    .bggreen{
        background-color:greenyellow;
    }
    .bgblue{
        background-color:aliceblue;
    }
    .cardshow{
        height:176px;
        width:126px;
    }
    .cardShowStyle{
        height:auto;
        width:auto;
        max-height:60%;
        max-width:60%;
        display: block;
        margin:auto;
    }
</style>

    <section class="content" id="app">
        <div class="row">

            @*左半區*@
            <div class="col-12 col-xl-8 bgpink">
                @*指令區*@
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-newspaper-o"></i> 指令台 </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="form-group row">
                                
                            <div class="col-6 col-xl-3">
                                <el-select v-model="SetId" placeholder="系列選擇"  class="inputStyle" filterable>
                                    <el-option
                                        v-for="item in AllSets"
                                        :key="item.Id"
                                        :label="`${item.SeriesId} - ${item.Name}`"
                                        :value="item.Id">
                                    </el-option>
                                </el-select>
                            </div>

                            <div class="col-12 mt-1">
                                <el-tooltip class="item" effect="dark" content="搜尋範圍：卡牌名稱、技能名稱、技能介紹，可用#串聯" placement="right">
                                <el-input
                                    type="text"
                                    placeholder="搜尋關鍵字" 
                                    v-model="Name"
                                    >
                                </el-input>
                            </div>



                        </div>
                    </div>

                    <div class="box-footer">
                        <button type="button" class="btn btn-primary " v-on:click="SearchCards">
                        @*<button type="button" class="btn btn-primary">*@
                            搜尋
                        </button>
                    </div>

                </div>

                @*搜尋顯示區*@
                <div>
                    <div class="col-12 bgblue height560px">
                        @*<div v-for="item in searchCards">
                            <img :src="item.Imgbase64" class="cardshow" v-on:click="ShowCard(item)"/>
                        </div>*@

                        <el-row>
                            @*<el-col :span="8" v-for="(item, index) in searchCards" :key="o" :offset="index > 0 ? 2 : 0">*@
                            <el-col v-for="(item, index) in searchCards" class="cardshow">
                                <el-card :body-style="{ padding: '0px' }">
                                    <img :src="item.Imgbase64" class="cardshow" v-on:click="ShowCard(item)">
                                </el-card>
                            </el-col>
                        </el-row>
                    </div>
                </div>
            </div>

             

            @*右半區*@
            <div class="col-12 col-xl-4 bggreen height800px">

            </div>
        </div>

        <el-drawer
            title="卡牌資訊"
            :visible.sync="drawer"
            :direction="direction"
            >
            <img :src="pickedData.pickedImgbase64" class="cardShowStyle"/>
            <div class="my-1 row">
                <el-button type="primary" class="col-6 mx-0">增加</el-button>
                <el-button type="success" class="col-6 mx-0">移出</el-button>
            </div>
            <div class="my-1">
                <el-button type="success" class="col-12 mx-0">搜索進化鍊</el-button>
            </div>
            
        </el-drawer>
    </section>
@*</div>*@

<script>
    var appMain = new Vue({
        el: '#app',
        data:function () {
            return {
                //左邊操作面板
                drawer: false,
                direction:"ltr",
                pickedData:{
                    pickedImgbase64:"",
                    pickedId:"",
                },
                

                //From表單送出資料
                Partners:[],

                Id :"",
                Name:"",
                Supertype:"",
                Subtypes:[],
                Rarity:"",
                Enviroment:"",
                Types:[],
                Hp:null,
                EvolvesFrom:"",
                EvolvesTo:[],
                SetId:"",
                Number:"",
                TrainEffect:"",
                FlavorText:"",
                Abilities: [],
                Attacks: [],
                Weaknesses: [],
                Resistances: [],
                ImageURL: null,
                CreateTime:"",

                //預先取得數據
                AllTypesEnum:[],
                AllRaritiesEnum:[],
                AllSubtypesEnum:[],
                AllSupertypesEnum:[],
                AllSets:[],
                AllEnviromentsEnum:[],

                searchFor: '',
                tableLoading: true,
                perPage: 10,
                moreParams: {
                    filterQuery: { Id : "" },
                    Keyword: ''
                },
                CleanerData: {
                    "Id": null,
                },
                formLabelWidth: '160px',

                searchCards:[],
            }
        },
        beforeMount: function () {
            
        },
        
        mounted: function () {
            $("#app").show();

            this.GetEnums("GetAllTypesEnum").then((data) => {
                this.AllTypesEnum = data;
            });
            this.GetEnums("GetAllRaritiesEnum").then((data) => {
                this.AllRaritiesEnum = data;
            });
            this.GetEnums("GetAllSubtypesEnum").then((data) => {
                this.AllSubtypesEnum = data;
            });
            this.GetEnums("GetAllSupertypesEnum").then((data) => {
                this.AllSupertypesEnum = data;
            });
            this.GetEnums("GetAllEnviromentsEnum").then((data) => {
                this.AllEnviromentsEnum = data;
            });
            this.GetAllSets().then((data) => {
                this.AllSets = data.reverse()
            });

        },
        methods: {
            GetEnums(enumType) {
                let api = "/api/Card/" + enumType
                return fetch(api, {
                    method : "GET",
                }).then((response) => { 
                    return response.json().then((data) => {
                        console.log(data);
                        return data;
                    }).catch((err) => {
                        console.log(err);
                    }) 
                });
            },
            GetAllSets(){
                let api = "/api/Card/GetAllSets"
                return fetch(api, {
                    method : "GET",
                })
                .then((response) => { 
                    return response.json().then((data) => {
                        console.log(data);
                        return data;
                    }).catch((err) => {
                        console.log(err);
                    }) 
                });
            },


            SearchCards(){
                let api = "/api/Frontend/SearchCards";
                let data = appMain.moreParams.filterQuery;
                console.log("data", data)
                fetch(api, {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    //data:JSON.stringify(data),
                }).then((response) => { 
                        response.json().then((data) => {
                        console.log("data", data)
                        appMain.searchCards = data;
                    }).catch((err) => {
                        console.log(err);
                    }) 
                });
            },
            ShowCard(card){
                appMain.drawer = true;
                appMain.pickedData.pickedImgbase64 = card.Imgbase64;
                appMain.pickedData.pickedId = card.Id;
            }
            
        }
     })
</script>