@page
@model PokemonTCGApp.Pages.BuildURSetModel
@{
}
<div class="container" id="app">
    <div class="row">
        <div  class="col-lg-6 col-mg-6">
            @*操作區*@
            <div style="height:150px; background-color:aquamarine">
                <el-row>
                    <el-button type="primary">主要按鈕</el-button>
                    <el-button type="success">成功按鈕</el-button>
                    <el-button type="info">信息按鈕</el-button>
                    <el-button type="warning">警告按鈕</el-button>
                    <el-button type="danger">危險按鈕</el-button>
                </el-row>
            </div>
            @*選擇區*@
            <div style="height:650px; background-color:lightblue">
            </div>
        </div>
        
        <div  class="col-lg-5 col-mg-6">
            @*顯示區*@
            <div style="height:800px; background-color:lightseagreen">
            </div>
        </div>

    </div>
</div>

<script>
    
    var appMain = new Vue({
        el:'#app',
        data(){
            return{
                

            }
        }
    })
</script>
