@page
@model PokemonTCGApp.Pages.BMS.cardlistModel
@{
    Layout = "_Layout_BMS";
}
<script src="https://rawgit.com/ratiw/vuetable-2/develop/dist/vuetable-2.js"></script>

@*<style type="text/css">
        .ui.vertical.stripe h3 {
          font-size: 2em;
        }

        .secondary.pointing.menu .toc.item {
          display: none;
        }

        .vuetable {
            margin-top: 1em !important;
        }
        .vuetable-wrapper.ui.basic.segment {
            padding: 0em;
        }
        .vuetable button.ui.button {
            padding: .5em .5em;
            font-weight: 400;
        }
        .vuetable button.ui.button i.icon {
            margin: 0;
        }
        .vuetable th.sortable:hover {
          color: #2185d0;
          cursor: pointer;
        }
        .vuetable-actions, .custom-action {
          width: 15%;
          padding: 12px 0px;
          text-align: center;
        }
        .vuetable-pagination {
          background: #f9fafb !important;
        }
        .vuetable-pagination-info {
          margin-top: auto;
          margin-bottom: auto;
        }
        [v-cloak] {
            display: none;
        }
        .highlight {
            background-color: yellow;
        }
        /*.vuetable-detail-row {
            height: 200px;
        }*/
        .detail-row {
            margin-left: 40px;
        }
        .expand-transition {
            transition: all .3s ease;
        }
        .expand-enter, .expand-leave {
            height: 0;
            opacity: 0;
        }
        tr.odd {
            background-color: #e6f5ff;
        }
        body {
            overflow-y: scroll;
        }
</style>*@

<div class="content-wrapper" id="app">

    <section class="content-header">
        <h1>卡牌列表
            <small>所有已存在Mongo內的卡片列表</small>
        </h1>
    </section>

    <section class="content">
        <div class="box box-primary">

            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-fw fa-search"></i>搜尋卡牌</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            @*style="min-height: 1140px;*@
            <div class="box-body">
                <div class="form-horizontal">

                   @* <div class="form-group">
                        <label for="" class="col-md-2 control-label">關鍵字搜尋</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="" placeholder="關鍵字搜尋" v-model="" />
                        </div>
                    </div>*@

                    <div class="form-group">
                        <label for="lbl-purchaserPhone" class="col-md-2 control-label">卡片ID</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="lbl-purchaserPhone" placeholder="卡片ID" v-model="moreParams.filterQuery.Id" />
                        </div>
                    </div>

                    @*搜索條件*@

                </div>
            </div>

            <div class="box-footer">
                @*<button type="button" class="btn btn-primary " v-on:click="setFilter">搜尋</button>*@
                <button type="button" class="btn btn-warning" v-on:click="downloadFile">下載</button>
                <a asp-page="/BMS/cardcreate" type="button" class="btn btn-danger" >新增</a>
            </div>
        </div>

        <div class="box box-primary">
            <div id="content" class="ui basic segment">
                <div class="ui grid">
                    <div class="ui left aligned nine wide column">
                        <div class="box-header with-border">
                            <h3 class="box-title"><i class="fa fa-fw fa-list"></i>卡牌列表<span></span></h3>
                        </div>
                    </div>

                    <div class="ui right aligned seven wide column">
                        <button class="ui basic button" id="settingsBtn">
                            <i class="setting icon"></i>
                            顯示設定
                        </button>
                    </div>
                </div>

            

                <div v-loading="tableLoading">
                    <vuetable ref="vuetable"
                        :api-url="apiUrl"
                        :fields="fields"
                        :per-page="perPage"
                        pagination-path="pagination"
                        data-path="mydata"
                        :append-params="moreParams"
                        class="table table-bordered"
                        http-method="post"
                        v-on:vuetable:pagination-data="onPaginationData"
                        v-on:vuetable:loading="tableLoading = true"
                        v-on:vuetable:loaded="tableLoading = false"
                        v-on:vuetable:cell-clicked="onCellClicked"
                        detail-row-component="my-detail-row"
                        >
                        @*:pagination-component="paginationComponent"*@

                    </vuetable>

                    <vuetable-pagination ref="pagination" v-on:vuetable-pagination:change-page="onChangePage"></vuetable-pagination>

                </div>
            </div>
        </div>
    </section>
</div>

<script>
    //$('#li_userlist').attr('class', 'active');
    Vue.use(Vuetable);

    function getUrlAllParams() {
        var url = decodeURI(window.location.href)
        var res = {}
        var url_data = _.split(url, '?').length > 1 ? _.split(url, '?')[1] : null;
        if (!url_data) return null
        var params_arr = _.split(url_data, '&')
        _.forEach(params_arr, function (item) {
            var key = _.split(item, '=')[0]
            var value = _.split(item, '=')[1]
            res[key] = value
        });
        return res
    }

    var tableColumns = [
        // 完整Columns
        //{
        //name: 'gender',
        //sortField: 'gender',
        //title: "gender",
        //titleClass: 'center aligned',
        //dataClass: 'center aligned',
        //width: '200px',
        //visible: true
        //callback:function()
        //},
        //checkBox 50px supertype
        {
            name: 'id',
            sortField: 'id',
            title: "卡片ID",
            titleClass: 'center aligned',
            dataClass: 'center aligned',
            width: '20%'
        },
        {
            name: 'image',
            sortField: 'image',
            title: '縮圖',
            titleClass: 'center aligned',
            dataClass: 'center aligned',
            width: '15%'
        },
        {
            name: 'setId',
            sortField: 'setId',
            title: '卡牌系列',
            titleClass: 'center aligned',
            dataClass: 'center aligned',
            width: '10%'
        },
        {
            name: 'name',
            sortField: 'name',
            title: '卡牌名稱',
            titleClass: 'center aligned',
            dataClass: 'center aligned',
            width: '10%'
        },
        {
            name: 'rarity',
            sortField: 'rarity',
            title: '卡牌稀有度',
            titleClass: 'center aligned',
            dataClass: 'center aligned',
            width: '10%'
        },
        {
            name: 'updateTime',
            sortField: 'updateTime',
            title: '最後修改時間',
            titleClass: 'center aligned',
            dataClass: 'center aligned',
            callback:'formatDate',
            width: '15%'
        },
        {
            name: 'createTime',
            sortField: 'createTime',
            title: '最後修改人',
            titleClass: 'center aligned',
            dataClass: 'center aligned',
            width: '10%'
        },
        {
            name: '__component:custom-action',
            title: "編輯",
            titleClass: 'center aligned',
            dataClass: 'custom-action center aligned',
            width: '10%'
        },
    ];

    Vue.component('custom-action', {
        template: [
            '<div>',
                //'<button class="ui red button" v-on:click="itemAction(\'view-item\', rowData)"><i class="zoom icon"></i></button>',
                //'<button class="ui blue button" v-on:click="itemAction(\'edit-item\', rowData)"><i class="edit icon"></i></button>',
                //'<button class="ui green button" v-on:click="itemAction(\'delete-item\', rowData)"><i class="delete icon"></i></button>',
                //'<button class="ui red button"><i class="zoom icon"></i></button>',
                //'<button class="ui blue button"><i class="edit icon"></i></button>',
                //'<button class="ui green button"><i class="delete icon"></i></button>',
                //'<a href="userdetail.aspx?id={ID}" class="btn btn-primary btn-sm">查看</a>', 
                '<a class="btn btn-primary btn-sm">查看</a>',
                //'<a :href="'userdetail.aspx?id='+props.rowData.UserId" class="btn-xs btn-default btn">查看</a>',
                '<a class="btn btn-primary btn-sm" v-on:click="startRow(props.rowData)">明細</a>',
            '</div>'
        ].join(''),
        props: {
            rowData: {
                type: Object,
                required: true
            }
        },
        methods: {
            itemAction: function(action, data) {
                sweetAlert('custom-action: ' + action, data.name)
            },
            onClick: function(event) {
                console.log('custom-action: on-click', event.target)
            },
            onDoubleClick: function(event) {
                console.log('custom-action: on-dblclick', event.target)
            }
        }
    })

    Vue.component('my-detail-row', {
        template: [
            '<div class="detail-row ui form" v-on:click="onClick($event)">'+
                '<div class="">'+
                    '<label>卡片名稱：</label>'+
                    '<span>{{rowData.name}}</span>'+
                '</div>'+
                '<div class="">'+
                    '<label>系列名稱：</label>'+
                    '<span>{{rowData.setId}}</span>'+
                '</div>'+
                '<div class="">'+
                    '<label>主分類：</label>'+
                    '<span>{{rowData.supertype}}</span>'+
                '</div>'+
                '<div class="">'+
                    '<label>次分類：</label>'+
                    '<span v-for="(item, index) in rowData.subtypes">{{item}}</span>'+
                '</div>'+
                '<div class="">'+
                    '<label>稀有度：</label>'+
                    '<span>{{rowData.rarity}}</span>'+
                '</div>'+
                '<div class="">'+
                    '<label>血量：</label>'+
                    '<span>{{rowData.hp}}</span>'+
                '</div>'+
                '<div class="">'+
                    '<label>屬性：</label>'+
                    '<div v-for="(item, index) in rowData.types">'+
                        '{{index}} - {{item}}'+
                    '</div>'+
                '</div>'+
                '<div class="">'+
                    '<label>進化自：</label>'+
                    '<span>{{rowData.evolvesFrom}}</span>'+
                '</div>'+
                '<div class="">'+
                    '<label>進化至：</label>'+
                    '<div v-for="(item, index) in rowData.evolvesTo">'+
                        '{{index}} - {{item}}'+
                    '</div>'+
                '</div>'+
                '<div class="">'+
                    '<label>規則：</label>'+
                    '<div v-for="(item, index) in rowData.rules">'+
                        '{{index}} - {{item}}'+
                    '</div>'+
                '</div>'+
                '<div class="">'+
                    '<label>特性：</label>'+
                    '<div v-for="(item, index) in rowData.abilities">'+
                        '{{index}} - {{item.name}} - {{item.text}} - {{item.type}}'+
                    '</div>'+
                '</div>'+
                '<div class="">'+
                    '<label>招式：</label>'+
                    '<div v-for="(item, index) in rowData.attacks">'+
                        '{{index}} - {{item.name}} - {{item.text}} - {{item.damage}}'+
                    '</div>'+
                '</div>'+
                '<div class="">'+
                    '<label>弱點：</label>'+
                    '<div v-for="(item, index) in rowData.weaknesses">'+
                        '{{index}} - {{item.type}} - {{item.value}}'+
                    '</div>'+
                '</div>'+
                '<div class="">'+
                    '<label>介紹：</label>'+
                    '<span>{{rowData.flavorText}}</span>'+
                '</div>'+
                '<div class="">'+
                    '<label>最後更新時間：</label>'+
                    '<span>{{rowData.updateTime}}</span>'+
                '</div>'+
            '</div>'
        ].join(''),
        props: {
        rowData: {
            type: Object,
            required: true
        }
        },
        methods: {
            CheckDetail (event) {
                console.log('my-detail-row: on-click')
            }
        }
    })

    Vue.config.debug = true

    var E_SERVER_ERROR = 'Error communicating with the server'

    var appMain = new Vue({
        el: '#app',
        components: {
            'vuetable-pagination': Vuetable.VuetablePagination
        },
        data: function () {
            return {
                searchFor: '',
                tableLoading: true,
                fields: tableColumns,
                apiUrl: "/api/Card/GetCards",
                perPage: 10,
                moreParams: {
                    filterQuery: { Id : "" },
                    Keyword: ''
                },
                CleanerData: {
                    "Id": null,
                },
                formLabelWidth: '160px',
                
            }
        },
        mounted: function () {
            $("#app").show();
            //var paras = getUrlAllParams();
        },
        methods: {
            //Callback functions
            //allCap: function(value) {
            //    return value.toUpperCase()
            //},
            showLoader: function () {
                this.$loading();
            },
            hideLoader: function () {
                this.$loading().close();
            },
            formatDate: function (value) {
                if (value == null) return '';
                console.log("TIME:", value)
                return moment(value.replace("T", " ")).local().format('YYYY/MM/DD HH:mm:ss');
            },
            transform: function (data) {
                var transformed = {}
                transformed.pagination = {
                    total: data.total,
                    per_page: data.per_page,
                    current_page: data.current_page,
                    last_page: data.last_page,
                    from: data.from,
                    to: data.to
                }

                transformed.mydata = data;
                return transformed;
            },
            setFilter: function () {
                this.$nextTick(function () {
                    this.$refs.vuetable.refresh();
                });
            },
            resetFilter: function () {
                this.searchFor = '';
                this.setFilter();
            },
           
            onPaginationData: function (paginationData) {
                if (paginationData.total <= 0) {
                    this.open();
                    this.$refs.pagination.setPaginationData(paginationData);
                }
                else {
                    this.$refs.pagination.setPaginationData(paginationData);
                }
            },
            onChangePage: function (page) {
                this.$refs.vuetable.changePage(page);
            },
            startRow: function (model) {
                model.Password = "";
                this.CleanerData = model;
                this.dialogFormVisible = true;
                this.diagleType = true;
            },
            changePaginationComponent: function() {
                this.$broadcast('vuetable:load-success', this.$refs.vuetable.tablePagination)
            },
            downloadFile() {
                //this.$confirm('確定要匯出嗎？', '', { type: 'warning' })
                //    .then(() => {
                //        let url = `/CgpManager/v1/DownloadUserList`;
                //        let data = {
                //            "params": {
                //                "sort": "",
                //                "page": 0,
                //                "per_page": 0,
                //                "filterQuery": appMain.moreParams.filterQuery
                //            }
                //        };
                //        fetch(url, {
                //            headers: { 'content-type': 'application/json' },
                //            method: 'post',
                //            body: JSON.stringify(data),
                //        })
                //        .then(response => response.blob())
                //        .then(function (myBlob) {
                //            var objectURL = URL.createObjectURL(myBlob);
                                
                //            var fileLink = document.createElement('a');
                //            fileLink.href = objectURL;

                //            //用於取名
                //            var today = new Date();
                //            fileLink.download = (appMain.moreParams.filterQuery.OrderDateRange != null && appMain.moreParams.filterQuery.OrderDateRange != "") ?
                //                `${appMain.moreParams.filterQuery.OrderDateRange[0].split(' ')[0]}to${appMain.moreParams.filterQuery.OrderDateRange[1].split(' ')[0]}`
                //                : `${today.getFullYear()}-${today.getMonth() + 1}-${today.getDate()}`;

                //            fileLink.click();
                //        });
                //    }).catch(() => {

                //    });
            },
            open() {
                this.$alert('請重新檢視篩選條件', '搜尋結果為0', {
                    confirmButtonText: '確定'
                });
            },
           onCellClicked (data, field, event) {
                console.log('cellClicked: ', field.name)
                this.$refs.vuetable.toggleDetailRow(data.id)
           }
        },
    });
</script>
