@page
@model PokemonTCGApp.Pages.BMS.cardcreateModel
@{
    Layout = "_Layout_BMS";
}
<div class="content-wrapper" id="app">
    <section class="content" style="min-height: 1140px;">
        
        <section class="content-header">
            <h1>卡牌列表
                <small></small>
            </h1>
        </section>
        <section class="content">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">新增卡牌</h3>
                </div>
                <div class="box-body">
                    <div class="form-horizontal">
                        <label></label>
                        <input />
                    </div>
                </div>




                <div class="box-footer">
                    <button type="button" class="btn btn-primary " @*v-onclick="setFilter"*@>
                        儲存
                    </button>
                    
                </div>
            </div>




        </section>

        
    </section>
</div>