@page
@model PokemonTCGApp.Pages.BMS.IndexModel
@{
    Layout = "_Layout_BMS";
}
<div class="content-wrapper" id="app">
    <section class="content" style="min-height: 1140px;">
        <h1>後臺管理系統</h1>
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>00</h3>
                        <p>未出貨訂單</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-eye"></i>
                    </div>
                    <a href="#" class="small-box-footer">更多資訊 <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>000</h3>
                        <p>商品</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-cubes 5x"></i>
                    </div>
                    <a href="#" class="small-box-footer">更多資訊 <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </section>
</div>